/*顶部轮播图 B*/
.lbt {
    width: 965px;
    height: 245px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.lbt .screen {
    width: 965px;
    height: 245px;
    overflow: hidden;
    position: relative;
}
.lbt ul {
    width: 10000px;
    position: absolute;
    left: 0;
    top: 0;
}
.lbt ul li {
    float: left;
}
/*顶部轮播图 E*/

/*栏目导航 B*/
.news_nav {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.sidebar {
    width: 200px;
    border: 1px solid #ccc;
    margin-left: 6px;
}
.sidebar .top_bar {
    height: 55px;
    border-bottom: 1px solid #fff;
    padding-left: 20px;
}
.sidebar .top_bar b {
    float: left;
    display: block;
    height: 16px;
    width: 5px;
    background-color: yellowgreen;
    margin-top: 20px;
}
.sidebar .top_bar h1 {
    float: left;
    font: 700 16px "microsoft yahei" ;
    line-height: 55px;
    padding-left: 10px;
}
.sidebar .bottom_bar {
    padding: 30px 40px 30px 40px;
}
.sidebar .bottom_bar ul li {
    border-bottom: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.sidebar .bottom_bar ul li:hover {
    color: orangered;
}
.sidebar .bottom_bar ul b {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/li.png");
    vertical-align: middle;
    margin-right: 20px;
    transition: all 0.5s;
}
a:hover {
    color: orangered;
}
.sidebar .bottom_bar li:hover b {
    transform: rotate(90deg);
}
.sidebar_content {
    width: 742px;
    min-height: 300px;
}
.sidebar_content .content_cpjs{
    line-height: 55px;
    margin-bottom: 20px;
    display: none;
}
.sidebar_content .content_fwzn {
    line-height: 55px;
    margin-bottom: 20px;
    display: none;
}
.sidebar_content .content_tszy {
    line-height: 55px;
    margin-bottom: 20px;
    display: none;
}
.sidebar_content .content_zxxx {
    line-height: 55px;
    display: none;
}
.selected {
    display: block !important;
}
.sidebar_content b {
    font: 100 14px "宋体";
    margin-right: 10px;
    margin-top: 18px;
}
.content_center {
    margin-left: 10px;
    font-weight: 100;
    margin-top: 20px;
}
.sidebar_content .content_center b {
    font-weight: 700;
}
.content_cpjs .content_center .title h1 {
    font: 700 24px/48px "microsoft yahei";
    text-align: center;
    margin-bottom: 20px;
}
.content_cpjs .content_center h2 {
    font: 700 16px/48px "microsoft yahei";
    margin-bottom: 20px;
}
.content_cpjs .content_center .twobook img {
    margin-left: 50px;
}
.content_cpjs .content_center .threebook img {
    margin-left: 40px;
}
.content_fwzn .content_center h2 {
    font: 700 24px/48px "microsoft yahei";
    text-align: center;
    margin-bottom: 20px;
}
.content_fwzn .content_center h3 {
    font: 700 20px/48px "microsoft yahei";
}
.content_fwzn .content_center p {
    line-height: 20px;
    text-indent: 25px;
}
.content_tszy .content_center h2 {
    font: 700 24px/48px "microsoft yahei";
    text-align: center;
    margin-bottom: 20px;
}
.content_zxxx .content_center h2 {
    font: 700 24px/48px "microsoft yahei";
    text-align: center;
    margin-bottom: 20px;
}
.content_zxxx .content_center p {
    font: 400 16px/30px "microsoft yahei";
}
/*栏目导航 E*/